$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-sky-blue:                    #00b2ff;
$color-black-pearl:                 #041827;
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;
$vp-320:                            320px;
$vp-768:                            768px;
$vp-1024:                           1024px;
